@import '../css/normalize-min'

@import url('https://fonts.googleapis.com/css?family=Roboto')

*
    box-sizing: border-box
body
    font-family: 'Roboto', sans-serif
    background-color: #edf0f1

header
    width: 100%
    height: auto
    z-index: 5
    background: #25b99a
    border-bottom-right-radius: 10px
    border-bottom-left-radius: 10px
    box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15)
    padding: 15px
    display: flex
    justify-content: center
    align-content: center

    input
        width: 100%
        height: 50px
        background: rgba(255,255,255, 0.2)
        border-radius: 5px
        border: 0px
        box-shadow: none
        outline: none
        border-top-right-radius: 25px
        border-bottom-right-radius: 25px
        text-indent: 10px
        padding: 0 70px 0 0
        color: white   
        
        &::placeholder
            color: white
            opacity: 0.5

    button
        width: 50px
        height: 50px
        position: absolute
        right: 15px
        align-self: center
        border-radius: 100%
        border: 0
        outline: none
        z-index: 2
        cursor: pointer
        background-color: white

        svg
            width: 16px
            height: 16px
            position: absolute
            top: 50%
            left: 50%
            margin: -8px 0 0 -8px

            .fill
                fill: #25b99a

ul.todo 
    padding: 10px
    width: 100%
    
    li
        background-color: white
        width: 100%
        padding: 10px
        margin: 10px 0 
        list-style-type: none
        border-radius: 5px
        word-wrap: normal
        box-shadow: 0px 1px 2px rgba(44,62,88,0.10)
        display: flex
        align-items: center
        justify-content: space-between

        .buttons 
            display: flex

            .remove svg
                fill: #c0cecb
                transition-duration: .3s
            .remove:hover svg
                fill: #e85656

            .complete svg
                fill: #25b99a
                border: solid 1.5px #25b99a
                border-radius: 100%
                transition-duration: .3s
            .complete:hover svg
                fill: white
                background-color: #25b99a   

            button
                width: 50px
                padding: 0px
                background: none
                border: 0px
                box-shadow: none
                outline: none
                cursor: pointer
                position: relative

                svg
                    height: 30px

                &+button:before
                    content: ''
                    width: 1px
                    height: 30px
                    right: 51px
                    top: 2px
                    position: absolute
                    background-color: #edf0f1

            .complete
                border: solid -3px #25b99a
                border-radius: 100%

ul.todo#done li 
    opacity: 0.6

    .buttons
        .complete svg
            fill: white
            background-color: #25b99a 
            
        .complete:hover svg
            fill: #25b99a
            background-color: transparent
            border: solid 1.5px #25b99a
            border-radius: 100%

ul.todo#done:not(:empty):before
    width: 150px
    height: 1px
    background: #d8e5e0
    position: absolute
    left: 50%
    top: -8px
    margin: 0 0 0 -75px
    content: ''

ul.todo
    position: relative

ul.todo#todo:empty:before
    content: 'Add a new activity to the list!'
    opacity: 0.3
    width: 100%
    padding: 10px
            